.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container1 h1, p{
    align-self: flex-start;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.editIconContainer{

    width: auto;
    max-width: 20px;
}
.editIcon{
    width: auto;
    max-width: 20px;
}
.searchPagaContainer{
    width: 100%;
}