.container {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containerOverview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}
/* .containerOverview h1 {
  align-self: flex-start;
} */
/* .containerList h1 {
  align-self: flex-start;
} */
.chartinfocontainer {
  display: flex;
  flex-direction: row;
}
.row {
  justify-content: flex-end;
  width: 83%;
}
.colButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.colButton Button {
    height: 40px;
}
.chart {
  width: 100%;
}
.chartinfos {
  height: fit-content;
}
.chartinfos li {
  list-style: none;
}
.containerList {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.listContainer {
  max-width: 50%;
  width: 50%;
}
.containerMap {
  max-width: 100%;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}
