.itemContainer {
  display: flex;
  flex-direction: row;
}
.container1 {
  width: 100%;
}
.stationname {
  font-weight: bold;
}
.additionalinfo {
}
.container2 {
  text-align: center;
}
.container3 {
  position: right;
  text-align: right;
}
.price {
  font-weight: bold;
}
.date {
}
